.BlogPost {
  padding-bottom: 3rem;
  padding-top: 5rem;
}

.BlogPost--no-image {
  padding-top: 7.5rem;
}

.BlogPost__title {
  font-family: Times, 'Times New Roman', Serif;
  margin-top: 0;
  line-height: 1;
  font-size: 4rem;
  letter-spacing: -2px;
}

@media screen and (max-width: 768px) {
  .BlogPost {
    padding-top: 4rem;
  }
  .BlogPost--no-image {
    padding-top: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .BlogPost__title {
    font-size: 3rem;
  }
}

.BlogPost__subtitle {
  margin-bottom: 2rem;
}

.BlogPost__markdown h1,
.BlogPost__markdown h2,
.BlogPost__markdown h3 {
  font-family: Times, 'Times New Roman', Serif;
  line-height: 1;
  letter-spacing: -2px;
  margin: 2rem 0 1rem 0;
}
.BlogPost__markdown h4 {
  line-height: 1;
  margin: 2rem 0 0.5rem 0;
}

.BlogPost__markdown pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.BlogPost__markdown pre::-webkit-scrollbar {
  display: none;
}

.BlogPost__markdown table {
  border-collapse: collapse;
}
.BlogPost__markdown th {
  padding: 0 1rem;
}
.BlogPost__markdown td {
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
}

.BlogPost__markdown blockquote {
  border-left: 5px solid var(--site-success);
  background-color: var(--site-success-lighter);
  margin: 0;
  padding: 0.1rem 1rem;
}

.BlogPost--recept .BlogPost__markdown pre {
  padding: 1rem;
}

.BlogPost--recept p,
.BlogPost--recept li,
.BlogPost--recept table {
  font-size: 1.125rem; /* 18px */
}
