.BlogStart {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 250px) {
  .BlogStart {
    padding-top: 4rem;
  }
}
.BlogStart__top {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .BlogStart__top {
    padding-bottom: 3rem;
  }
}

.BlogStart__headline {
  font-size: 5rem;
  line-height: 4.2rem;
  font-family: Times, 'Times New Roman', Serif;
}

.BlogStart__filter {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.BlogStart__filter-icon {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem; /* to match tag */
}

.BlogStart__morePosts {
  display: grid;
  padding: 2rem 0;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 3rem;
}

.BlogStart--noHero .BlogStart__morePosts {
  padding-top: 0;
}

@media screen and (max-width: 600px) {
  .BlogStart__morePosts {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 450px) {
  .BlogStart__top {
    min-height: 55vw;
  }
  .BlogStart__headline {
    font-size: 15vw;
  }
}

.BlogStart__filter {
  width: 100%;
}

.BlogStart__noPosts {
  padding: 2rem;
  color: var(--border);
  text-align: center;
}

.BlogStart__noPosts-emoji {
  font-size: 3rem;
}
