.CoverImage {
  max-width: 960px;
  padding: 2rem;
  margin: 0 auto;
}

.CoverImage img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 832px) {
  .CoverImage {
    padding: 1rem;
  }
}

@media screen and (max-width: 250px) {
  .CoverImage {
    padding: 0;
  }
}

.CoverImage--noPaddingBottom {
  padding-bottom: 0;
}
