.HeroPost__link {
  color: #222222;
  text-decoration: none;
}

.HeroPost__image {
  margin-bottom: 1rem;
}

.HeroPost__headline {
  display: flex;
  font-size: 3rem;
  margin-top: 0;
  line-height: 1;
}

@media screen and (max-width: 832px) {
  .HeroPost__headline {
    font-size: 5.8vw;
    margin-bottom: 4vw;
  }
}

@media screen and (max-width: 250px) {
  .HeroPost__inner {
    padding-top: 15vw;
  }
}
