.PostPreview {
  background: var(--color-off-white);
  padding: 1rem 1rem 1.75rem 1rem;
  border-radius: 1rem;
}

.PostPreview__link {
  color: #222222;
  text-decoration: none;
}

.PostPreview__image {
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
}

.PostPreview__headline {
  line-height: 1;
  margin: 1rem 0;

  font-family: Times, 'Times New Roman', Serif;
  letter-spacing: -2px;
}

.PostPreview hr {
  margin-bottom: 2rem;
}

.PostPreview__link {
  color: #222222;
  text-decoration: none;
}

.PostPreview__tags {
  margin-top: 1.5rem;
}
