.Start {
  position: relative;
}

.Start__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  pointer-events: none;
  padding-top: 2rem; /* since bottom padding is removed from CoverImage */
}

.Start__continueLink {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 15rem;
  color: #222222;
  text-decoration: none;
  pointer-events: all;
}

.Start__headline {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 3rem;
  margin-top: 0;
}

.Start__downArrow {
  margin-left: auto;
  height: 6rem;
  width: auto;
  transition: transform 0.2s;
}

.Start__continueLink:hover .Start__downArrow {
  transform: translateY(1rem);
}

@media screen and (max-width: 832px) {
  .Start__continueLink {
    width: 30vw;
  }
  .Start__headline {
    font-size: 5.8vw;
    margin-bottom: 4vw;
  }
  .Start__downArrow {
    height: 12vw;
  }

  .Start__continueLink:hover .Start__downArrow {
    transform: translateY(2vw);
  }
}

@media screen and (max-width: 250px) {
  .Start__inner {
    padding-top: 15vw;
  }
}
